<ul class="flippy">
    <li class="flippy-first">{{ first }}</li>
    <li class="flippy-previous">{{ prev }}</li>
    <li class="flippy-random">{{ random }}</li>
    <li class="flippy-next">{{ next }}</li>
    <li class="flippy-last">{{ last }}</li>
</ul>

